@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: "ciguatera";
    src: url("./assets/fonts/ciguatera.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ChettaVissto";
    src: url("./assets/fonts/ChettaVissto.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Queensila";
    src: url("./assets/fonts/Queensila.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-ciguatera: "ciguatera", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-ChettaVissto: "ChettaVissto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-Queensila: "Queensila", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        @apply font-sans;
    }
}